.result-view {

  .nav-buttons{
	margin: auto;
	width: 400;

	button{
	  border: none;
	  border-radius: 3px;
	  padding: 3px 14px;
	  text-transform: uppercase;

	  &:hover {
		background-color: #817D7D;
	  }
	}

	.step input{
	  width: 30px;
	  text-align: center;
	}
  }

  >div {
	margin: 20px 0;
  }

  textarea {
	width: 100%;
	min-height: 500px;
	margin-top: 10px;
  }

//  STRIPS
  .final-plan-container, .stack-container, .current-plan-container, .current-state-container {
	> span {font-weight: bold;}
  }

  .stack-item {
	border: 2px solid;
	border-bottom-width: 0;
	padding: 10px;
	width: 80%;
	margin: auto;

	&:last-child {
	  border-bottom-width: 2px;
	}

	&.action {
	  background-color: #01a3c6;
	}

	&.state {
	  background-color: antiquewhite;
	}
  }

  //REGRESSION
  $color-visited: #ccc9c9;
  $color-invalid: rgb(255, 192, 192);
  $color-final: darkseagreen;
  $color-final-visited: rgb(74, 222, 74);
  #tree-container {
	position: relative;
  }

  .node {
	width: auto;
	position: absolute;
	display: inline-block;
	margin: 10px;
	min-width: 100px;

	&.visited .node-state {background-color: $color-visited}
	&.invalid .node-state {background-color: $color-invalid}
	&.plan-node .node-state {background-color: $color-final}
	&.plan-node.visited .node-state {background-color: $color-final-visited}

	.node-state {
	  border: 1px solid;
	  margin: -1px -6px;
	  padding: 2px;
	}
  }

  //POP
  #graph-container {
	position: relative;
  }

  .step-goal-container, .step-goals-container {
	> span {font-weight: bold;}
  }

  .node {
	width: auto;
	position: absolute;
	display: inline-block;
	margin: 10px;
	min-width: 100px;

	> div {
	  border: 1px solid;
	  margin: -1px -6px;
	  padding: 2px;
	}
  }
}


._jsPlumb_connector > path {
  stroke: #1e8151 ;
  stroke-width: 2 ;
}


