<div class="header">
  <h3 class="text-muted">Planning algorithm visualiser</h3>
</div>

				<div class="content">
					<div class="problem">
						<div text-input data-content="domain" data-title="domain"></div>
						<div text-input data-content="instance" data-title="instance"></div>

						<a class="btn btn-lg btn-success" ng-click="solve()">Solve<span class="glyphicon glyphicon-ok"></span></a>
					</div>
					<div class="solution">

					</div>
				</div>


<div class="footer">
  <p><span class="glyphicon glyphicon-copyright-mark"></span> Michał Przyszczypkowski</p>
</div>
