<div class="header">
  <h3 class="text-muted">Planning algorithm visualiser</h3>
</div>

				<div class="content">
					<div class="toggle-problem glyphicon glyphicon-minus" ng-click="toggleProblem()"></div>
					<div class="problem">
						<div text-input data-content="domain" data-title="domain"></div>
						<div text-input data-content="instance" data-title="instance"></div>

						<a class="btn btn-lg btn-success" ng-click="solve()">Solve<span class="glyphicon glyphicon-ok"></span></a>

						<select ng-options="alg.label for alg in algorithms" ng-model="selectedAlgorithm"></select>
						<span class="limit-wrapper"> <label for="limit">Max result plan length:</label> <input type="number" id="limit" ng-model="limit"/> </span>
					</div>

					<div class="solution">
						<div result-view data-result="result"></div>
					</div>
				</div>
