<div class="stack">
	<div class="final-plan-container" ng-show="showPlan"><span>Final plan:</span><div>{{result.resultPlan.label}}</div></div>

	<div class="fallback glyphicon glyphicon-repeat" ng-show="currentStepState.fallback"></div>

	<div class="step-goals-container"><span>Unsatsified goals:</span><div>{{currentStepState.goals}}</div></div>
	<div class="step-goal-container"><span>Goal:</span><div>{{currentStepState.goal}}</div></div>

	<div class="graph-container-wrapper"><span>Graph [{{nodesCount}} nodes]:</span><div id="graph-container"></div></div>
</div>