<div class="result-view" ng-show="showResult">

	<div class="nav-buttons">
		<button ng-click="prevStep()">Prev</button>
		<button ng-click="nextStep()">Next</button>
		<span>STEP:<span class="step"><input ng-model="step"> / {{maxStep}}</span></span>
	</div>

	<div ng-if="result.type=='STRIPS'" data-strips-display data-result="result" data-step="step"></div>
	<div ng-if="result.type=='REGRESSION'" data-regression-display data-result="result" data-step="step"></div>
	<div ng-if="result.type=='POP'" data-pop-display data-result="result" data-step="step"></div>
</div>